<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{page.description}}"/>
    <meta name="author" content="Dimelo"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{site.url}}/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <title>{{page.title}}</title>
    <link href="/stylesheets/bootstrap.css" media="screen,print" rel="Stylesheet" type="text/css"/>
    <link href="/stylesheets/style.css" media="screen,print" rel="Stylesheet" type="text/css"/>
    <link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet"/>
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{site.url}}{{page.url}}"/>
    <meta property="og:image" content="{{site.url}}/images/{% if page.badge %}{{ page.badge }}{% else %}logo.jpg{% endif %}"/>
    <link rel="image_src" href="{{site.url}}/images/{% if page.badge %}{{ page.badge }}{% else %}logo.jpg{% endif %}"/>
    <meta property="og:site_name" content="{{site.title}}"/>
    <meta property="og:description" content="{{page.description}}"/>
    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
  <head>

<body>
  <div class="container">
    <header>
    <div class="page-header">
      <ul id="quicklinks"><li><a href="/archive.html">Anciens contests &raquo;</a></li><li><a href="http://jobs.dimelo.com">Jobs @dimelo &raquo;</a></li></ul>
      <p><a href="/"><img src="/images/{% if page.logo %}{{ page.logo }}{% else %}logo.jpg{% endif %}"/></a></p>
      <h1>{{page.title}}</h1>
    </div>
    </header>
    {{ content }}
    </div>
      <script type="text/javascript" src="/javascripts/prettify.js"></script>
      <script type="text/javascript" >prettyPrint()</script>
      <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4747371-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
