<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Ruby Christmas Contest">
    <meta name="author" content="Dimelo">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ruby Christmas Contest</title>
    <link href="/stylesheets/bootstrap.css" media="screen,print" rel="Stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" media="screen,print" rel="Stylesheet" type="text/css" />
    <link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet" />
  </head>

<body>
  <div class="container">
    <header>
    <div class="page-header">
      <p><a href="/"><img src="/images/dimelo_neige.png"/></a></p>
      <h1>Ruby Christmas Contest</h1>
    </div>
    </header>
    {{ content }}
    </div>
      <script type="text/javascript" src="/javascripts/prettify.js"></script>
      <script type="text/javascript" >prettyPrint()</script>
  </body>
</html>
